body, html {
    height: 100%;
}
.bg-rage {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    height: 60vh;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-huntress {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    height: 60vh;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.roomcontainer {
        margin: auto;
        max-width: 60vw;;
        padding: 10px;
}